.card {
    border: 1px solid #151b26;
    border-radius: 4px;
    background-color: rgba(15, 20, 31, 0);
    transition: 0.2s ease;
    overflow: hidden;
    padding: 0;

}

.card:hover {
    background-color: rgba(15, 20, 31, 0.2);
}

.imgContainer {
    overflow: hidden;
    transform: scale(1.05);
    height: 203px;
}

.img {
    object-fit: cover;
}

.imgContainer:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.textContainer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date {
    color: gray;
}

.title {
    text-decoration: underline;
}

.desc {
    font-size: 16px;
    font-weight: 300;
    color: var(--softTextColor);
}

.btn {
    color: #1b69d2;
    border-bottom: 1px solid blue;
    width: max-content;
    padding: 2px 0px;
}